@import url(http://fonts.googleapis.com/css?family=Capriola);
body{
    background-color: #303030;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Capriola', sans-serif;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
    content: '';
    display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
    clear: both;
}
#cssmenu {
    width: auto;
    zoom: 1;
    height: 69px;
    background: #006994 repeat-x center bottom;
    border-radius: 2px;
}
#cssmenu ul {
    background: #006994 repeat-x 0px 4px;
    height: 69px;
}
#cssmenu ul li {
    float: left;
    list-style: none;
}
#cssmenu ul li a {
    display: block;
    height: 37px;
    padding: 22px 30px 0;
    margin: 3px 1px 0;
    border-radius: 2px 2px 0 0;
    text-decoration: none;
    font-size: 12px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-weight: 400;
    opacity: .9;
}
#cssmenu ul li:first-child a {
    margin: 4px 2px 0 0;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
    background: #006994 center bottom;
    display: block;
    height: 37px;
    margin-top: 0px;
    padding-top: 26px;
    color: #02075d;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
    opacity: 1;
}
header {
    font-family: 'Capriola', sans-serif;
    font-size: 20px;
    color: #dedede;
    text-align: center;
}
#text{
    font-family: 'Capriola', sans-serif;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dedede;
    min-height: 580px;
    text-align: justify;
}
h1 {
    color: #2d3a55;
}
p {
    padding: 10px;
}
