*{
    font-family: 'Arial';
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom-style: dotted;
}
#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#img{
    margin-bottom: -4px;
}
#lista{
    position: absolute;
    top: 100px;
    right: 270px;
    background-color: black;
    opacity: 70%;
    color: white;
    padding: 15px;
    height: 220px;
    width: 250px;
    border-radius: 20px;
}
footer{
    background-color: black;
    color: bisque;
    text-align: center;
    padding: 20px;
}
